.register-wrap {
  color: #333;
  font-size: 14px; }
  .register-wrap .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px; }
  .register-wrap .form-wrap {
    margin: auto auto;
    background: #fb7a21;
    width: 80%;
    padding: 10px; }
    .register-wrap .form-wrap .form-group {
      width: 100%;
      position: relative;
      margin-bottom: 10px; }
      .register-wrap .form-wrap .form-group .input-group,
      .register-wrap .form-wrap .form-group .operator {
        display: inline-block; }
      .register-wrap .form-wrap .form-group .input-group {
        position: relative;
        width: 100%; }
        .register-wrap .form-wrap .form-group .input-group .icon {
          position: absolute;
          height: 30px;
          line-height: 30px;
          padding: 0 5px; }
        .register-wrap .form-wrap .form-group .input-group .input-item {
          box-sizing: border-box;
          width: 100%;
          height: 30px;
          line-height: 30px;
          border: none;
          background: #fff;
          padding-left: 20px; }
      .register-wrap .form-wrap .form-group .input-operator {
        width: 66%; }
      .register-wrap .form-wrap .form-group .operator {
        position: absolute;
        right: 0;
        width: 30%; }
        .register-wrap .form-wrap .form-group .operator .message-btn,
        .register-wrap .form-wrap .form-group .operator .verifycode-img {
          width: 100%;
          height: 30px;
          line-height: 30px; }
        .register-wrap .form-wrap .form-group .operator .message-btn {
          background: #ffd350;
          border: none; }
    .register-wrap .form-wrap .register-button {
      background: #ffd350;
      width: 100%;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      padding: 8px;
      display: block;
      color: #ce3a37; }
