<form nz-form (ngSubmit)="submitForm()" [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="title" nzRequired>节点名称</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24">
      <input nz-input id="title" formControlName="title" />
      <nz-form-explain *ngIf="form.get('title')?.dirty && form.get('title')?.errors"
        >输入不能为空</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">新增</button>
    </nz-form-control>
  </nz-form-item>
</form>
